[include fluidd.cfg]
[include mainsail.cfg]
#[include lcd_menu/lcd_menu.cfg]    #屏幕菜单
#[include timelapse.cfg]            #延时摄影
# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
# MCU
#####################################################################

[mcu]
#serial: /dev/ttyS5				    # for UART connection 用于UART连接
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1630000FA498C895DAF13461C62000F5-if00
restart_method: command
baud: 115200

#####################################################################
# Temperature Sensors 温度传感器
#####################################################################

[temperature_sensor temp]           # environment temperature 环境温度
sensor_type:Generic 3950
sensor_pin:P0.23
pullup_resistor:4700

[temperature_sensor opi]            # host temperature 上位机温度
sensor_type: temperature_host 

######################################################################
# Resonance Compensation [adxl345] 共振补偿
######################################################################

[input_shaper]
shaper_freq_x: 47.2
shaper_type_x:mzv
shaper_freq_y: 49.2
shaper_type_y:mzv

[mcu opi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: opi:gpio72
spi_bus: spidev1.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    75,75,20                        # x,y,z

######################################################################
## printer settings 打印机设置
######################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 10000
#max_accel_to_decel: 3000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

######################################################################
## temperature tolerance 温度容差 
######################################################################

[verify_heater extruder]
max_error: 120
check_gain_time:120
hysteresis: 50
heating_gain: 2

[verify_heater heater_bed]
max_error: 120
check_gain_time:120
hysteresis: 50
heating_gain: 2

######################################################################
## X/Y Motor Settings X/Y电机设置
######################################################################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 256
full_steps_per_rotation: 200                                        # 0.9 degree motor set to 400, 1.8 degree motor set to 200    0.9度电机设置为400，1.8度电机设置为200 
endstop_pin: P1.29
homing_positive_dir: false
position_endstop: 0
position_max: 155
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 256
full_steps_per_rotation: 200
endstop_pin: P1.28
homing_positive_dir: false
position_endstop: 0
position_max: 150
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

######################################################################
## Z Motor Settings Z 电机设置
######################################################################

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 64
endstop_pin: P1.27
homing_positive_dir: false
position_endstop: 0
position_max: 150
position_min: -1.5
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0


[tmc2209 stepper_z]
uart_pin: P1.8
interpolate: False
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
## extruder settings 挤出机设置
#####################################################################

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
full_steps_per_rotation: 400                                        # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor LDO 1.8°步进电机设置为200，OMC（StepperOnline）0.9°步进电机设置为400
rotation_distance: 10.8249                                          # For Sherpa Mini, E3D V6
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: Generic 3950
sensor_pin: P0.24
control = pid
pid_Kp=22.850
pid_Ki=1.137
pid_Kd=114.822
min_temp: -100
max_temp: 320
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 0.8
pressure_advance: 0.02
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: P1.4
interpolate: False
run_current: 0.28
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
## heater bed settings 热床设置
#####################################################################

[heater_bed]
heater_pin: P2.5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
min_temp: -100
max_temp: 130
control = pid
pid_Kp=69.046
pid_Ki=0.961
pid_Kd=1240.245

#####################################################################
# fan Control 风扇控制
#####################################################################

[fan]
pin: P2.3

#####################################################################
# homing and bed leveling settings 回零及调平设置
#####################################################################

[idle_timeout]
timeout: 18000

#[safe_z_home]
#home_xy_position: 149,131 # Z轴回零的坐标（热床右上角的Z限位开挂位置）
#speed: 10                  # 回零速度
#z_hop: 10                 # 回零前热床下降距离
#z_hop_speed: 5            # 热床下降速度

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#[bltouch]
#sensor_pin: ^PD2
#control_pin:PB5
#x_offset: -44
#y_offset: -14
#z_offset: 3.099
#speed: 10.0
#samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.1
#samples_tolerance_retries: 1

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 140,140
probe_count: 3,3
fade_start: 1
fade_end: 10
fade_target: 0

#####################################################################
# Neopixel
#####################################################################

[neopixel LED]
pin:P1.24
chain_count:7
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.1

#####################################################################
#   Display 屏幕设置
#####################################################################
########################################
# EXP1 / EXP2 (display) pins
########################################

#[board_pins]
#aliases:
    # EXP1 header
#    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
#    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
#    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
#    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#click_pin: ^!EXP1_2
#encoder_pins: ^EXP2_3, ^EXP2_5
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2
#contrast: 63
#menu_timeout: 90

#[neopixel fysetc_mini12864]
#pin: EXP1_6
#chain_count: 3
#color_order: RGB
#initial_RED: 0.3
#initial_GREEN: 0.3
#initial_BLUE: 0.1

#[output_pin beeper]
#pin: EXP1_1
#pwm: True
#value: 0
#shutdown_value: 0
#cycle_time: 0.001

#[gcode_macro SET_NEOPIXEL_RGB]
#gcode:
#    SET_LED LED=bottom_neopixel RED={params.G} GREEN={params.R} BLUE={params.B}

#[gcode_macro SET_DISPLAY_RGB]
#gcode:
#	SET_LED LED=fysetc_mini12864 RED={params.R} GREEN={params.G} BLUE={params.B} INDEX=1 TRANSMIT=0
#	SET_LED LED=fysetc_mini12864 RED={params.R} GREEN={params.G} BLUE={params.B} INDEX=2 TRANSMIT=0
#	SET_LED LED=fysetc_mini12864 RED={params.R} GREEN={params.G} BLUE={params.B} INDEX=3
    
#####################################################################
# Macros 宏
#####################################################################
[gcode_macro START_PRINT]
gcode:
  # BED_MESH_CLEAR
  G28
  # BED_MESH_CALIBRATE
  # BED_MESH_PROFILE SAVE=default
  # SAVE_CONFIG
  # BED_MESH_PROFILE LOAD=default
    
[gcode_macro END_PRINT]
gcode:
  G28 x,y
  TURN_OFF_HEATERS
  
[gcode_macro LOAD_FILAMENT]
gcode:
     M83                            ; set extruder to relative
     G1 E30 F300                    ; load
     G1 E15 F150                    ; prime nozzle with filament
     M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
     M83                            ; set extruder to relative
     G1 E10 F300                    ; extrude a little to soften tip
     G1 E-40 F1800                  ; retract some, but not too much or it will jam
     M82                            ; set extruder to absolute

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro M109]
rename_existing: M109.1
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
    {% if s != 0 %}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   # Wait for hotend temp (within 1 degree)
    {% endif %}	

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   # Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+5}  # Wait for bed temp (within n degrees)
    {% endif %}


[network_status]

[display_status]

[exclude_object]

[pause_resume]

[gcode_arcs]
#resolution: 1.0
